{% extends 'base.html.twig' %}

{% block title %}Accueil Étudiant{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2>Bienvenue, {{ app.user.name }} !</h2>
        <a href="{{ path('app_logout') }}" class="btn btn-outline-danger">Déconnexion</a>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Les cours</h5>
                    <p class="card-text">Accédez à les suggestions cours et reprenez votre apprentissage.</p>
                    <a href="{{ path('user_courses') }}" class="btn btn-primary">Voir les cours</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">Mes cours</h5>
                    <p class="card-text">Suivez votre progression et vos performances.</p>
                    <a href="{{ path('my_courses') }}" class="btn btn-success">Voir mes cours et mes progrès</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
